<%= booking.name %>, <%= booking.numTickets %>, <%= booking.superhero %>

            <!-- <form action="/bookings/delete/<%= booking.$loki %>" method="POST">
    <button type="submit">Delete</button>
</form> -->

            <button type="button" class="button is-danger"
                onclick="deleteBooking('<%= booking.$loki %>')">Delete</button>

            <script>
                async function deleteBooking(id) {
                    var r = confirm("Confirm Delete?");

                    if (r) {
                        var response = await fetch("/bookings/" + id, {
                            method: "DELETE"
                        });

                        if (response.ok) {
                            // var html = await response.text();
                            // alert(html);
                            alert("Booking deleted.");
                            location.assign("/bookings");
                        } else {
                            alert(response.status + ": " + response.statusText);
                        }

                    } else {
                        alert("cancelled");
                    }
                };
            </script>